body{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.container{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    text-transform: capitalize;
}
.caption{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,1);
    color: white;
    border-radius: 12px;
    transform: translateY(100%);
    transition: transform 700ms ease-in-out;
}
.container:hover .caption{
    transform: translateY(-20%);
}
img{
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: transform 700ms ease-in-out;
}
.container:hover img{
    transform: translateY(-20%);
}
